body {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #333333;
    height: 65px;
    width: auto;
    padding: 10px 15px;
    margin: 0 0 40px 0;
}

a.button {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.big-button {    
    padding: .5em 2em;
}
.small-button {
    padding: .2em 1em;
}

a.transparent-white {
    color: white;
}
a.transparent-dark {
    color: black;
}

a.button:hover { background: rgba(255,255,255,.2); }
a.button:active {
    background: white;
    transition: 0.2s;
}

.side-bar {
    background-color: #F5F5F5;
    padding: 10px 30px 10px 25px;
    margin: 0 0 40px 40px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px -4px;
    width: auto;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-link a {
    text-decoration: none;
    color: #0088CC;
    line-height: 24px;
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
}

.menu-link:hover a {
    background-color: #eaeaea;
}

.container{
    margin: 0 0 0 40px;
}

.container h2 {
    margin: 0 0 20px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* POPUP */

.overlay {
    background: #000;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}

.visible {
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
	z-index: 2000;
	width: auto;
	padding: 0px;
	margin-left: -250px;
}

#popupItems button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: none;
	background: transparent;
	color: blue;
}

.title.popup {
	margin: 5px 10px;
}

.content.popup {
	padding: 0 1em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: WhiteSmoke;
}

.close {
    margin-left: 10px;
    margin-top: 5px;
}

.close.popup {
    float: right;
    margin: 10px;
    cursor: pointer;
}

/* END POPUP */


.form-group {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}
.form-group input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
    margin: 10px 0;
}
.form-group label {
    font-size: 18px;
}

#tableItems tr:not(:first-child):hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.error-validation-popup {
    z-index: 999;
    font-size: 14px;
}
.error-validation-popup .show-right {
    width: 75px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 8px;
    left: 300px;
    top: 35px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2)
}

/* VALIDATION POPUP */

.error-validation-popup .show-left {
    width: 75px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 8px;
    left: 100px;
    top: 35px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2)
}

.show-right:before,
.show-right:after,
.show-left:before,
.show-left:after {
    position: absolute;
    top:0;
    left: 45px;
    margin-top: -21px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 12px solid #fff;
    content: "";
    display: block;
}

.show:before {
    border-bottom: 12px solid #ccc;
    margin-top: -22px;    
}

/* END VALIDATION POPUP */


/*  TABLE  */
table {
    margin: 5px 0 15px 0;
    border: 1px solid #e3e3e3;
    border-spacing: 0;
}

table th, td {
    padding: 5px 100px 5px 10px;
    font-size: 18px;
}

table th {
    background-color: #F5F5F5;
}

table tr:nth-child(odd) {
    background-color: #f2f8ff
}

.table-wrapper {
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .error-validation-input {
    border-color: #f50000;
}
.required:after {
    color: #f50000;
    content: "Required";
}
.incorrect-type:after {
    color: #f50000;
    content: "Incorrect type";
}

table.table td {
    white-space: nowrap;
}
/*  END TABLE  */


.success-sybol {
    color: green;
    border: green;
    font-size: 24px;
}

.failure-symbol {
    color: red;
    font-size: 24px;
}