<!DOCTYPE html> 
<html lang='ru'>
<head>
    <meta charset="UTF-8">

    <title>Angular proj</title>

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-messages.min.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
    <!--End Controllers-->

    <!--Services-->
    <script type="text/javascript" src="js/services/memoryStorageRepositoryService.js"></script>
    <!--<script type="text/javascript" src="js/services/promoCodesOfEventsService.js"></script>-->
    <!--End Services-->

    <!--Directives-->
    <script type="text/javascript" src="js/directives/header.js"></script>
    <script type="text/javascript" src="js/directives/sideBar.js"></script>
    <script type="text/javascript" src="js/directives/popupOfItem.js"></script>
    <script type="text/javascript" src="js/directives/messagesOfInvalidFields.js"></script>
    <!--End Directives-->
</head>
<body data-ng-app="myApp" data-ng-controller="mainCtrl">
    <div header></div>
    
    <div side-bar></div>
    
    <div class="container left">
        <h2>Title</h2>
        
        <a href="#" data-ng-click="ToHideShowPopup()" class="button transparent-dark small-button">Add item</a>
        
        <div popup-of-item></div>
        
        <table id="tableItems">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>amount</th>
                <th>price</th>
            </tr>
            
            <tr data-ng-repeat="item in items" data-ng-click="ToHideShowPopup($index)">
                <td>{{item.name}}</td>
                <td>{{item.id}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.price}}</td>
            </tr>
            
        </table>
        
    </div>
</body>
</html>