<h1>{{warehouse.name}}</h1>
<h3 ng-if="!warehouse.items">Your warehous is empty.</h3>

<table ng-if="warehouse.items" class="table-hover">
    <thead>
        <tr>
            <th ng-repeat="item in warehouse.items">{{item.fieldName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="count in warehouse.items[0].value track by $index">
            <td ng-repeat="item in warehouse.items">
                {{item.value}}
            </td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-secondary" ng-click="isShowPopup = !isShowPopup">Add Item</button>
<div popup-to-create-item ng-show="isShowPopup"></div>