<div class="popup" id="popupWarehouses">
    <div class="overlay" data-ng-click="ToHideShowPopup()"></div>
    <div class="visible">
        <a data-ng-click="ToHideShowPopup()" class="close popup">X</a>
        <h2 data-ng-if="isNewItem" class="title popup">Add warehouse</h2>
        <h2 data-ng-if="!isNewItem" class="title popup">Change warehouse</h2>
        <div class="content popup">
            <form class="form-group" action="#" method="post" name="addItemForm">
                <div class="item-of-form-group">
                    <label>Name</label>
                    <input data-ng-model="item.name" type="text" name="itemName" placeholder="some text" required /><br>
                    <div messages-of-invalid-fields item-of-validation="addItemForm.itemName.$error"></div>
                </div>
            </form>

            <a data-ng-if="isNewItem" data-ng-click="AddWarehouse()" class="btn btn-secondary right" style="margin: 10px 0;">Add warehouse</a>
            <a data-ng-if="!isNewItem" data-ng-click="ChangeWarehouse()" class="button transparent-dark small-button right" style="margin: 10px 0;">Change warehouse</a>
            <a data-ng-if="!isNewItem" data-ng-click="DeleteWarehouse()" class="button transparent-dark small-button left" style="margin: 10px 0;">Delete warehouse</a>
            
            <div style="clear: both"><a href="#!warehouse" data-ng-if="!isNewItem" data-ng-click="sendDatas()" class="btn btn-secondary right" style="margin: 10px 0;">Open warehouse</a></div>
        </div>
    </div>
</div>