<div id="popupItems">
    <div class="overlay" data-ng-click="ToHideShowPopup()"></div>
    <div class="visible">
        <a data-ng-click="ToHideShowPopup()" class="close popup">X</a>
        <h2 data-ng-if="isNewItem" class="title popup">Add Item</h2>
        <h2 data-ng-if="!isNewItem" class="title popup">Change Item</h2>
        <div class="content popup">
            <form class="form-group" action="#" method="post" name="addItemForm">
                <div class="item-of-form-group">
                    <label>Name</label>
                    <input data-ng-model="item.name" type="text" name="itemName" placeholder="some text" required /><br>
                    <div messages-of-invalid-fields item-of-validation="addItemForm.itemName.$error"></div>
                </div>
            </form>

            <a data-ng-if="isNewItem" data-ng-click="AddItem()" class="btn btn-secondary right" style="margin: 10px 0;">Add item</a>
            <a data-ng-if="!isNewItem" data-ng-click="ChangeItem()" class="button transparent-dark small-button right" style="margin: 10px 0;">Change item</a>
            <a data-ng-if="!isNewItem" data-ng-click="DeleteItem()" class="button transparent-dark small-button left" style="margin: 10px 0;">Delete item</a>
        </div>
    </div>
</div>