<div id="popupItems" data-ng-show="isShowPopup">    
    <div class="overlay" data-ng-click="ToHideShowPopup()"></div>
    <div class="visible">
        <a data-ng-click="ToHideShowPopup()" class="close popup">X</a>
        <h2 data-ng-if="isNewItem" class="title popup">Add Item</h2>
        <h2 data-ng-if="!isNewItem" class="title popup">Change Item</h2>
        <div class="content popup">
            

            <a href="#" data-ng-if="isNewItem" data-ng-click="AddChangeItem('add')" class="button transparent-dark small-button right" style="margin: 10px 0;">Add item</a>
            <a href="#" data-ng-if="!isNewItem" data-ng-click="AddChangeItem('change')" class="button transparent-dark small-button right" style="margin: 10px 0;">Change item</a>
            <a href="#" data-ng-if="!isNewItem" data-ng-click="DeleteItem()" class="button transparent-dark small-button left" style="margin: 10px 0;">Delete item</a>
        </div>
    </div>
</div>